################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DialogueDisplayFrameworkContinued/FileContentIndex/3d1f0cc2-42a8-4942-b5ff-0a318ce0d4d3.vsidx
